.app {
  min-height: 100vh;
  height: 100vh;
}

.app__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: calc(100% - 46px);
  width: 100%;
}

.card {
  border: 1px solid black;
  border-radius: 5px;
  min-height: 250px;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  text-align: left;
  position: relative;
  cursor: pointer;
  box-sizing: content-box;
  box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.card__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__header-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.card__top-content {
  max-height: 310px;
  display: flex;
  flex-direction: column;
}

.card__text {
  padding-top: 16px;
  line-height: 20px;
  height: 124px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: pre-wrap;
  background-color: white;
}

.spinner {
  border-style: solid;
  border-color: #178de8;
  border-radius: 50%;
  border-left-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.filters {
  height: 60px;
  width: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  overflow-x: auto;
}

.filters-container {
  display: flex;
  min-width: 800px;
  width: 100%;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.filters__goup {
  display: flex;
  flex-direction: column;
}

.filters__item {
  font-size: 16px;
  height: 25px;
  border: 1px solid black;
  border-radius: 4px;
}

.filters__select {
  padding-bottom: 2px;
  padding-top: 2px;
}

.filters__page {
  padding-bottom: 0px;
  width: 66px;
}

.filters__field {
  padding-bottom: 0px;
  width: 140px;
}

.filters__date {
  width: 140px;
}
